<!--
    Copyright (C) 2011 Alexey Dubinin 

    This file is part of StrokeIME, an alternative input method for Android OS

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.me.strokeime"
      android:versionCode="10"
      android:versionName="0.1"> <!-- 0.1.0 = 10 -->
    <application android:label="@string/stroke_ime_label" android:icon="@drawable/icon">
        <service android:name="StrokeIME"
            android:label="@string/stroke_ime_label"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/ime" />
        </service>
        <activity android:name="StrokeIMESettings"
            android:label="@string/stroke_ime_settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

    <!-- set this to get rid of permissions, forced in older versions -->
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4" />
</manifest> 
